// $color-black-0: #000;
// $color-white-0: #fff;
// $color-grey-0: rgb(204, 204, 204);
// $color-red-0: rgb(244, 67, 54);

// $fs-1: 15px;
// $fs-2: 24px;
// $fs-2: 30px;

// $fw-0: 400;
// $fw-1: bolder;

// $ff-0: "Lato", sans-serif;
// $ff-1: "Segoe UI", Arial, sans-serif;

// $line-height-0: 1.5;
// $line-height-1: 22.5px;
// $line-height-3: 36px;
// $line-height-4: 46px;

// $line-spacing-0: 0;
// $line-spacing-1: 4px;

// $border-radius: 4px;

// $pd-0: 12px;
// $pd-1: 8px;

// $mg-0: 10px;
// $mg-1: 16px;
// $mg-2: 46px;

// $breakpoints: (
//   "xxl": 1400px,
//   "xl": 1200px,
//   "lg": 992px,
//   "md": 768px,
//   "sm": 576px,
// );

$color_1: white;
$color_2: black;
$color-3: rgb(204, 204, 204);
$color-4: rgb(244, 67, 54);

$ff-1: "Lato", sans-serif;
$ff-2: "Segoe UI", Arial, sans-serif;

$fs-1: 15px;
$fs-2: 24px;
$fs-3: 30px;

$line-height-1: 1.5;
$line-height-2: 22.5px;
$line-height-3: 36px;
$line-height-4: 46px;

$line-spacing-1: 0;
$line-spacing-2: 4px;
